@import url('typography.css');

// COLORS

// PRIMARY
$very-dark-magenta: hsl(300, 43%, 22%);
$soft-pink: hsl(333, 80%, 67%);

// NEUTRAL 
$dark-grayish-magenta: hsl(303, 10%, 53%);
$light-grayish-magenta: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);

// MIXINS
@mixin setFontStyle($fontFamily, $fontSize:15px, $color){
    font-family: $fontFamily;
    font-size: $fontSize;
    color: $color;
}

/* COMMON */
html, body {
    min-width: 100vw;
}

body {
    background: url('../images/bg-pattern-top-mobile.svg') center top no-repeat, 
    url('../images/bg-pattern-bottom-mobile.svg') center bottom no-repeat;
    background-color: $white;
    min-height: 100vh;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MAIN */
main {
    width: 375px;
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
    'products-brief'
    'rating'
    'user-comment';

    /* PRODUCTS BRIEF SECTION */
    .products-brief-section {
        grid-area: products-brief;
        text-align: center;
        margin: 40px auto 10px;  
        width: 90%;

        h1 {
            @include setFontStyle('Spartan-Bold', 1.90rem, $very-dark-magenta);
            line-height: 35px;
            margin-bottom: 10px;
        }

        p {
            @include setFontStyle('Spartan-Medium', 0.90rem, $dark-grayish-magenta);
            line-height: 25px;
        }
    }

    /* RATINGS SECTION */
    .rating-section {
        margin-bottom: 10px;
        grid-area: rating;
        display: flexbox;

        .rating-box {
            margin: 16px auto 10px;
            text-align: center;
            width: 330px;
            height: 50px;
            padding: 14px 0px;
            background-color: $light-grayish-magenta;
            border-radius: 5px;
            display: flex;
            flex-direction: column;

            .star-icons {
                .icon {
                    margin: 0px 2px;
                    content: url('../images/icon-star.svg');
                }
            }

            h4 {             
                @include setFontStyle('Spartan-Bold', 0.80rem,  $very-dark-magenta);
                margin: 12px;
            }
        }
    }

    /* USER COMMENT SECTION */
    .user-comment-section {
        margin-top: 10px;
        grid-area: user-comment;
        display: flexbox;

        .user-comment-box {
            margin: 16px auto 14px;
            width: 265px;
            height: 160px;
            padding: 45px 30px;
            background-color: $very-dark-magenta;
            border-radius: 10px;

            header {
                display: flex;
                flex-direction: row;
                justify-content: start;
                margin-bottom: 24px;

                img {
                    width: 42px;
                    height: 42px;
                    border-radius: 50px;
                    margin-right: 12px;
                }

                .user-profile {
                    
                   .user-name {          
                    @include setFontStyle('Spartan-Bold', null,  $white);
                    margin: 4px 0px 4px 12px;
                   }

                   .user-occupation {
                    @include setFontStyle('Spartan-Regular', null,  $soft-pink);
                    margin: 4px 0px 0px 12px;
                   }
                }
            }

            p {
                @include setFontStyle('Spartan-Regular', 0.80rem,  $white);
                line-height: 22px;
            }
        }
    } 

}

/* MEDIA SCREEN */

/* PORTRAIT TABLETS */
@media only screen and (min-width:600px){

}

/* LANDSCAPE TABLETS */
@media only screen and (min-width:768px){
    
}

/* LAPTOP/DESKTOP */
@media only screen and (min-width:992px){

    /* COMMON */
    body {
        background: url('../images/bg-pattern-top-desktop.svg') left top no-repeat, 
        url('../images/bg-pattern-bottom-desktop.svg') right bottom no-repeat;
    }

    /* MAIN */
    main {
        width: 1220px;
        grid-template-rows: auto 270px;
        grid-template-columns: 490px 0px 460px;
        grid-template-areas: 
        'products-brief . rating'
        'user-comment user-comment user-comment';

            /* PRODUCTS BRIEF SECTION */
            .products-brief-section {
                text-align: left;
                margin: 20px 0px 10px;  

                h1 {
                    @include setFontStyle('Spartan-Bold', 2.91rem, $very-dark-magenta);
                    line-height: 45px;
                    margin-bottom: 20px;
                }

                p {
                    @include setFontStyle('Spartan-Medium', 0.90rem, $dark-grayish-magenta);
                }
            }

            /* RATINGS SECTION */
            .rating-section {
                margin-top: 60px;
                margin-bottom: 30px;
                display: grid;
                row-gap: 70px;
                column-gap: 90px;
                grid-template-rows: repeat(3, auto);
                grid-template-columns: repeat(3, auto);

                .rating-box {
                    margin: 8px auto 8px;
                    width: 365px;
                    height: 20px;
                    padding: 20px 50px 20px 25px;
                    flex-direction: row;

                    h4 {             
                        @include setFontStyle('Spartan-Bold', 0.80rem,  $very-dark-magenta);
                        margin-top: 4px;
                        margin-bottom: 4px;
                        margin-left: 30px;
                    }

                    &:first-child {
                        grid-area: reviews;
                        grid-row-start: 1;
                        grid-column-start: 1;
                    }

                    &:nth-child(2){
                        grid-area: report;
                        grid-row-start: 2;
                        grid-column-start: 2;
                    }

                    &:last-child {
                        grid-area: tech;
                        grid-row-start: 3;
                        grid-column-start: 3;
                    }
                }
            }

            /* USER COMMENT SECTION */
            .user-comment-section {
                margin-top: 50px;
                height: 260px;
                display: grid;
                column-gap: 25px;
                grid-template-columns: repeat(3, auto);

                .user-comment-box {
                    width: 285px;
                    height: 150px;
                    margin: 0px;
                    padding: 40px 35px;

                    header {
                        display: flex;
                        flex-direction: row;
                        justify-content: start;
                        margin-bottom: 24px;

                        img {
                            width: 40px;
                            height: 40px;
                            margin-right: 15px;
                        }

                        .user-profile {
                            
                            .user-name {          
                                @include setFontStyle('Spartan-Bold', null,  $white);
                                margin: 4px 0px 4px 10px;
                            }

                            .user-occupation {
                                @include setFontStyle('Spartan-Regular', null,  $soft-pink);
                                margin: 6px 0px 0px 10px;
                            }
                        }
                    }

                    &:first-child {
                        align-self: start;
                        grid-column-start: 1;
                        grid-column-end: 2;
                    }

                    &:nth-child(2){
                        align-self: center;                
                        grid-column-start: 2;
                        grid-column-end: 3;
                    }

                    &:last-child {
                        align-self: end;
                        grid-column-start: 3;
                        grid-column-end: 4;
                    }
                }
            } 
    }
    
}

/* LARGE LAPTOP/DESKTOP */
@media only screen and (min-width:1200px){
    
}